<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>MAIL Test</title>
</head>
<%
   to      = Parse.get_string(params[:to]           , "") 
   subj    = Parse.get_string(params[:subj]         , "Test Email") 
   txtBody = Parse.get_string(params[:txtBody]      , "") 
   htmBody = Parse.get_string(params[:htmBody]      , "") 
	tParms  = Parse.get_string(params[:templateParms], "name = jim; date=Wednesday ")
	
	template = Parse.get_string(params[:template], "")
	if ( template.length > 0 )
	  tHash  = Template.parms_to_hash(tParms)
	  fname = "./mail/templates/#{template}.txt"
	  t     = Template.new
	  begin
	    t.load_file(fname) 
		 txtBody = t.evaluate(tHash)
	  rescue => ex 
	    txtBody = ex.to_s
	  end	  
	end
	
	
   send   = "Send" == params[:submit]
	result = ""

   service = params[:mailsvc]
   if service == nil
     mailer  = MailFactory.getDefaultMailer
   else
     mailer  = MailFactory.getMailer(service)
   end
   
   to      = "hspielman@gmail.com" if (to == nil || to.length == 0)
   message = "Complete form and hit Send"
	
	if send     
     success = mailer.sendIt(to, subj, txtBody, htmBody)
     message = success ? "Did it work OK?" : " ** ERROR sending email ** "
	end
	
	o_sel = "selected"
%>

<body>
  <h2>Send Test Email</h2>
  <form action="testMail.htm" method="get" name="form1" id="form1">
  <table width="706">
    <tr>
     <td width="109">Recipient</td>
     <td width="585" >
        <input name="to" type="text" id="to" value="<%= to %>" size="45"></td>
    </tr>
    <tr>
     <td>Subject</td>
     <td><label for="subj"></label>
        <input name="subj" type="text" id="subj" value="<%= subj %>" size="45"></td>
    </tr>
    <tr>
       <td>Service</td>
       <td>
          <select name="mailsvc" id="mailsvc">
             <option selected>default</option>
             <option value="sendgrid">sendgrid</option>
             <option value="smtp">smtp</option>
         </select></td>
    </tr>
    <tr>
     <td>Template</td>
     <td>
        <select name="template" id="template">
           <option value="" >none</option>
           <option value="welcome" <%= template=="welcome" ? o_sel : "" %>>welcome</option>
        </select>
        <input type="submit" name="evaluate" id="evaluate" value="Evaluate"></td>
    </tr>
    <tr>
       <td>Template Parms</td>
       <td><label for="templateParms"></label>
          <label for="templateParms"></label>
         <textarea name="templateParms" id="templateParms" cols="65" rows="3"><%= tParms %></textarea></td>
    </tr>
    
    <tr>
     <td>TXT Body</td>
     <td>
        <textarea name="txtBody" id="txtBody" cols="65" rows="4"><%= txtBody %></textarea></td>
    </tr>
    <tr>
     <td>HTM Body</td>
     <td>
        <textarea name="htmBody" id="htmBody" cols="65" rows="4"><%= htmBody %></textarea></td>
    </tr>
    <tr>
     <td></td>
     <td> 
        <input type="submit" name="submit" id="submit" value="Send"></td>
    </tr> 
   </table>
  </form>
  <p> <%= message %> </p>
</body>

</html>